<!DOCTYPE html>
  <html>
    <head>
      <title>Articler</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
    <div class = "search_form">
    
     <h1>Keyword></h1>
      <form>
        <input type="text" placeholder="keyword1"><br>
        <input type="text" placeholder="keyword2"></textarea><br>
        <input type="text" placeholder="keyword3"></textarea><br>
      </form>

    <h2>Year</h2>
    
        <input type="text">Year1<br> ~ 
        <input type="text">Year2</textarea><br>
      <input type="submit" value="Search!">
    </body>
  </html>